li {
    display: inline-block;
    font-size: 17px;
    font-style: italic;
    margin-left: 100px;
    margin-top: 10px;
    /* padding: 20px; */
   
}
header{
    background-color: rgb(234, 230, 230);
    border-bottom: 2px outset rgb(180, 169, 169);
    padding: 10px;
    height: 50px;
}
.div1{
    display: block;
    height: 400px;
    overflow-y: scroll;
    margin-top: 80px;
    width: 100px;

}
.books{
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 20px;
  
    
}
/* 
body{
    background-image: url(images/Book5.jpg);
    background-size: cover;
} */

.div2{
    float:right;
    margin-top:-400px;
    margin-right:60%;
    
    
}
.mainImg{
    width: 400px;
    height: 400px;

}


.div3{
    float:right;
    margin-top:-400px;
    margin-right:-60%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 300px;
    height: 390px;
    
}
h1{
    background-color: grey;
    text-align: center;
    color: wheat;
}
h2{
    background-color: rgb(24, 23, 23);
    text-align: center;
    color: white;
}

.div4{

    display: block;
    height: 400px;
    overflow-y: scroll;
    margin-top: 80px;
    width: 200px;
    text-align:center;
    float:right;
    margin-top:-400px;
    margin-right:10%;

}

.books2{
    display: block;
    width: 200px;
    height: 80px;
    margin-right: 20px;
    align-items: center;
}